/node_modules
/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/storage/logs/*.log
/app/Http/Controllers/GetConfigSeverController.php
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.editorconfig
.htaccess
.ftpconfig
*.log
chromedriver
chromedriver.exe

import\.txt
.vscode/
app/Http/Controllers/GetConfigSeverController.php
/public/v3/css/.sass-cache/
